.heading-1 {
  font-family: $font-display;
  font-weight: 400;
}

.heading-2 {
  font-family: $font-display;
  font-weight: 400;
}

.heading-3 {
  font-family: $font-display;
  font-weight: 400;
}

.heading-4 {
  &--light {
    font-family: $font-display;
    font-weight: 400;
    color: $color-grey-light-1;
    font-size: 1.9rem;
  }

  &--dark {
    font-family: $font-display;
    font-weight: 400;
    color: $color-grey-dark-1;
    font-size: 1.9rem;
  }
}
